@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$dark-blue: rgb(178, 183, 252);
$main-blue: rgb(70, 202, 235);
$faded-main-blue: rgb(10, 58, 69);
$white: #fff;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $main-blue;
$link: $main-blue;
$success: #fff;

// Update some of Bulma's component variables
$body-background-color: $main-blue;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$button-text-color: $white;
$button-background-color: $primary;
$button-text-hover-background-color: $faded-main-blue;

// Import only what you need from Bulma
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/components/_all.sass";
@import "bulma/sass/elements/_all.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/layout/_all.sass";
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/helpers/_all.sass";

.is-circular {
  border-radius: 15px;
}

.is-extra-circular {
  border-radius: 25px;
}