[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
     
}
</style>

<!-- modified from bulma -->
<div class="section" id="vue-target" v-cloak>
  <!-- Put here your Vue.js template -->
  <section class="section">
    <nav class="level">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <div class="title">[[=curr_name]]'s Feed Page</div>
        </div>
        
      </div>

      <div class="level-right">
        <div class="level-item">
          <div class="field has-addons">
            <p class="control">
              <input class="input" type="text" placeholder="Find a post">
            </p>
            <p class="control">
              <button class="button">
                Search
              </button>
            </p>
          </div>
        </div>
      </div>
    </nav>
    
   

    <!-- This is used to add a post. --->
    <div class="level">
      <div class="level-left">
        <button @click="add_post" class="button is-link">
          <span class="icon"><i class="fa fa-plus"></i></span> <span>Create Post</span>
            </button>
      </div>
    </div>

    <!-- This displays the posts -->
    <div v-for="post in posts">

      <!-- This displays a main (non-reply) post that user might type in the beginning -->
      <div class="columns is-mobile">
        <!--column offser described in bulma ; reply post need to be set of by one to differentiate from main post-->
        <div :class="post.is_reply ? 'column is-11 is-offset-1 is-size-6' : 'column is-12 is-size-5'">


          <div class="box has-background-grey-lighter">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png"> 
              </p>
            </figure>
            <div v-if="!post.edit" @click="do_edit(post._idx)">{{post.content}}</div>
            <textarea v-if="post.edit" v-model="post.content" class="textarea"
                      :class="post.content === post.server_content ? 'is-link' : 'is-danger'" placeholder="Add a comment..."
            ></textarea>
             <!--should display black up and white thumbs -->
            <span><i class="fa fa-flip-horizontal fa-thumbs-up"></i></span>
            <span><i class="fa fa-thumbs-down"></i></span>
             <!--deals with thumnbs -->
            <span class="has-text-info">
              <span>
                <i @mouseout="thumb_out(post._idx)" @mouseover="thumb_over(post._idx, 1)"
                   @click="change_thumb(post._idx, 0)" class="fa fa-flip-horizontal fa-thumbs-up" v-if="post.rating==1"></i>
                <i @mouseout="thumb_out(post._idx)" @mouseover="thumb_over(post._idx, 1)"
                   @click="change_thumb(post._idx, 0)" class="fa fa-flip-horizontal fa-thumbs-o-up" v-if="post.rating==0 || post.rating==2"></i>
              </span>
              <span>
                <i @mouseout="thumb_out(post._idx)" @mouseover="thumb_over(post._idx, 2)"
                   @click="change_thumb(post._idx, 1)" class="fa fa-thumbs-down" v-if="post.rating==2"></i>
                <i @mouseout="thumb_out(post._idx)" @mouseover="thumb_over(post._idx, 2)"
                   @click="change_thumb(post._idx, 1)" class="fa fa-thumbs-o-down" v-if="post.rating==0 || post.rating==1"></i>
              </span>
            </span>
           

          </div>
         
        
          <!-- mobile to make it responsive-->
          <nav class="level is-mobile">
            <div class="level-left">
              <!-- Post author ( who wrote post) -->
              <div class="level-item has-text-grey">{{post.user}}</div>
            </div>

            <div class="level-right">
              <!-- Error notification -->
              <div v-if="post.error" class="level-item has-text-danger">
                <i class="fa fa-exclamation-triangle"></i></div>
                <!-- Somehow need to include thumb/up down on the feed page  -->
                <!-- going to comment out this part bc we don't need it here in the nav bar next to other 
                icons-
                <span class="has-text-info">
                  <span>
                    <i @mouseout="thumb_out(post._idx)" @mouseover="thumb_over(post._idx, 1)"
                       @click="change_thumb(post._idx, 0)" class="fa fa-flip-horizontal fa-thumbs-up" v-if="post.rating==1"></i>
                    <i @mouseout="thumb_out(post._idx)" @mouseover="thumb_over(post._idx, 1)"
                       @click="change_thumb(post._idx, 0)" class="fa fa-flip-horizontal fa-thumbs-o-up" v-if="post.rating==0 || post.rating==2"></i>
                  </span>
                  <span>
                    <i @mouseout="thumb_out(post._idx)" @mouseover="thumb_over(post._idx, 2)"
                       @click="change_thumb(post._idx, 1)" class="fa fa-thumbs-down" v-if="post.rating==2"></i>
                    <i @mouseout="thumb_out(post._idx)" @mouseover="thumb_over(post._idx, 2)"
                       @click="change_thumb(post._idx, 1)" class="fa fa-thumbs-o-down" v-if="post.rating==0 || post.rating==1"></i>
                  </span>
                </span>
              -->
              <!-- Edit button -->
              <!-- don't know if i should make it button or the icon itself as a button? -->
              <div v-if="post.editable && !post.edit" class="level-item">
                <span @click="do_edit(post._idx)" class="button is-warning">
                <i class="fa fa-pencil-square-o fa-fw"></i></span>
              </div>

              <!-- Save button -->
              <div v-if="post.edit" class="level-item">
                <span @click="do_save(post._idx)" class="has-text-primary"
                :class="post.is_pending ? 'is-loading' : ''">
                <i class="fa fa-check-square-o fa-fw"></i></span>
              </div>

              <!-- Cancel edit button -->
              <div v-if="post.edit && !post.is_pending && !post.error" class="level-item">
                <span @click="do_cancel(post._idx)" class="has-text-danger">
                <i class="fa fa-close"></i></span>
              </div>

              <!-- Delete post button, for replies only -->
              <!-- TODO: implement it -->
              <div v-if="!post.edit && post.editable" class="level-item">
                <span @click="do_delete(post._idx)" class="has-text-danger ">
                <i class="fa fa-trash fa-fw"></i></span>
              </div>
                
              

              <!-- Reply button -->
              <!--  Show only for the  main posts ( for now)
                   and it has to not show while you are editing the post. -->
               <div v-if="!post.edit && !post.is_reply" class="level-item">
                 <span @click="reply(post._idx)" class="has-text-link">
                 <i class="fa fa-reply fa-fw"></i></span>
                </div>
              <!-- Reply button should add for reply posts as well -->
                <div v-if="!post.edit && post.is_reply" class="level-item">
                  <span @click="reply(post._idx)" class="has-text-primary">
                  <i class="fa fa-reply fa-fw"></i></span>
                 </div>
                
            </div>
          </nav>
        </div>
      </div>
    </div>

  </section>
</div>



[[block page_scripts]]
<script>
    let get_posts_url = "[[=XML(get_posts_url)]]";
    let add_post_url = "[[=XML(add_post_url)]]";
   
    let get_likes_url = "[[=XML(get_likes_url)]]";
    let add_like_url = "[[=XML(add_like_url)]]";
    let flip_like_url = "[[=XML(flip_like_url)]]";
    let delete_like_url = "[[=XML(delete_like_url)]]";

    let posts_url = "[[=XML(posts_url)]]";
    let delete_url = "[[=XML(delete_url)]]";
    
  // URLS relating to thumb ratings
    let get_rating_url = "[[=XML(get_rating_url)]]";
    
    let set_thumb_url = "[[=XML(set_thumb_url)]]";
    
    let get_thumb_url = "[[=XML(get_thumb_url)]]";

    let user_email = "[[=XML(user_email)]]";
    let user_name = "[[=XML(user_name)]]";
</script>
<script src="js/feed.js"></script>
[[end]]
