[[extend 'layout.html']]

<div class="section container">
  <h1 class="title"> [[=curr_name]]'s Feed </h1>
</div>

<!-- click button to add new comment -->
<div class="section container" id="vue-target-feed">
    <div class="container block">
      <button @click="add_mode = true" class="button is-primary">
        <i class="fa fa-plus fa-fw"></i>
      </button>
    </div>

    <!-- if button was clicked, display area to enter post -->
    <div v-if="add_mode" class="container block">
      <div class="field">
        <p class="control">
          <input class="input" type="text" placeholder="Enter new post here" v-model="new_post_text" />
        </p>
      </div>
      <button class="button is-primary" @click="add_post" >Post</button>
      <button class="button is-warning" @click="cancel_post" >Cancel</button>
    </div>

    <!-- display posts here -->
  <div id="posts" class="block">
    <!-- Here will go the comments. -->
    <div v-for="p in post_list.slice().reverse()" class="block">
      <div class="box">
          <!-- display comment and author name -->
          <p class="title is-4"> {{p.post_text}} </p>
          <p class="has-text-grey">Posted by {{ p.username }} </p>

          <div>
                  <!-- Delete post -->
              <div v-if="'[[=curr_email]]'==p.email" class="field is-grouped is-grouped-right">
                <button @click="delete_post(p.id)" class="button is-danger">
                  <span class="icon is-small">
                    <i class="fa fa-trash"></i>
                  </span>
                </button>
              </div>

              <!-- thumbs -->
              <span @mouseover="set_hover(p._idx, true)" @mouseout="set_hover(p._idx, false)">
                  <span class="icon has-text-link" @click="like_post(p._idx, '[[=curr_name]]')">
                    <i class="fa fa-thumbs-up fa-flip-horizontal" v-if="p.liked == 1"></i>
                    <i class="fa fa-thumbs-o-up fa-flip-horizontal" v-else></i>
                  </span>
                  <span class="icon has-text-link" @click="dislike_post(p._idx, '[[=curr_name]]')">
                    <i class="fa fa-thumbs-down fa-flip-horizontal" v-if="p.liked == -1"></i>
                    <i class="fa fa-thumbs-o-down fa-flip-horizontal" v-else></i>
                  </span>
              </span>

              <!-- liker/disliker list -->
              <span class="has-text-link" v-if="p.hover">{{ get_liker_string(p._idx) }}</span>
          </div>

      </div>
    </div>
  </div>
</div>

[[block page_scripts]]
<script>
    let get_posts_url = "[[=XML(get_posts_url)]]";
    let add_post_url = "[[=XML(add_post_url)]]";
    let delete_post_url = "[[=XML(delete_post_url)]]";
    let get_likes_url = "[[=XML(get_likes_url)]]";
    let add_like_url = "[[=XML(add_like_url)]]";
    let flip_like_url = "[[=XML(flip_like_url)]]";
    let delete_like_url = "[[=XML(delete_like_url)]]";
</script>
<script src="js/feed.js"></script>
[[end]]
