[[extend 'layout.html']]

<section>
    <div class="section">
        <h1 class="title">Resources</h1>
        <h2 class="subtitle">Everything you need for your next travel adventure</h2>
    
        <div class="box">
            <h2 class="subtitle">Flights</h2>
            <p> Alaska </p>
            <p> Delta </p>
            <p> Southwest </p>
            <p> United </p>
            <p> American Airlines </p>
        </div>
    
        <div class="box">
            <h2 class="subtitle">Hotels</h2>
            <p> Hotels.com </p>
            <p> TripAdvisor </p>
            <p> Trivago </p>
            <p> Expedia </p>
        </div>
    
        <div class="box">
            <h2 class="subtitle">Car Rentals</h2>
            <p> AutoRentals.com </p>
            <p> Hotwire </p>
            <p> Alamo </p>
            <p> Sixt </p>
            <p> Avis </p>
        </div>
    
        <div class="box">
            <h2 class="subtitle">Packing Advice</h2>
            <p> Smarter Travel </p>
            <p> Travel and Leisure </p>
            <p> Good Housekeeping </p>
            <p> Travel Fashion Girl </p>
        </div>
        <div></div>
    </div>
</section>
