[[extend 'layout.html']]

<section>
    <div class="section">
        <h1 class="title">Resources</h1>
        <h2 class="subtitle">Everything you need for your next travel adventure</h2>
    
        <div class="box">
            <h2 class="subtitle">Flights</h2>
            <a href="https://www.alaskaair.com/"><p>Alaska</p></a>
            <a href="https://www.delta.com/"><p>Delta</p></a>
            <a href="https://www.southwest.com/"><p>Southwest</p></a>
            <a href="https://www.united.com/en/us"><p>United</p></a>
            <a href="https://www.aa.com/homePage.do"><p>American Airlines</p></a>
            
        </div>
    
        <div class="box">
            <h2 class="subtitle">Hotels</h2>
            <a href="https://www.hotels.com/"><p>Hotels.com</p></a>
            <a href="https://www.tripadvisor.com/"><p>TripAdvisor</p></a>
            <a href="https://www.trivago.com/"><p>Trivago</p></a>
            <a href="https://www.expedia.com/"><p>Expedia</p></a>
           
            
        </div>
    
        <div class="box">
            <h2 class="subtitle">Car Rentals</h2>
            https://www.autorentals.com/
            <a href="https://www.alaskaair.com/"><p>Alaska</p></a>
            <a href="https://www.delta.com/"><p>Delta</p></a>
            <a href="https://www.southwest.com/"><p>Southwest</p></a>
            <a href="https://www.united.com/en/us"><p>United</p></a>
            <a href="https://www.aa.com/homePage.do"><p>American Airlines</p></a>
            <p> AutoRentals.com </p>
            <p> Hotwire </p>
            <p> Alamo </p>
            <p> Sixt </p>
            <p> Avis </p>
        </div>
    
        <div class="box">
            <h2 class="subtitle">Packing Advice</h2>
            <p> Smarter Travel </p>
            <p> Travel and Leisure </p>
            <p> Good Housekeeping </p>
            <p> Travel Fashion Girl </p>
        </div>
        <div></div>
    </div>
</section>
