[[extend 'layout.html']]

<section>
    <div class="section">
        <h1 class="title">Resources</h1>
        <h2 class="subtitle">Everything you need for your next travel adventure</h2>
    
        <div class="box">
            <h2 class="subtitle">Flights</h2>
            <a href="https://www.alaskaair.com/"><p>Alaska</p></a>
            <a href="https://www.delta.com/"><p>Delta</p></a>
            <a href="https://www.southwest.com/"><p>Southwest</p></a>
            <a href="https://www.united.com/en/us"><p>United</p></a>
            <a href="https://www.aa.com/homePage.do"><p>American Airlines</p></a>
            
        </div>
    
        <div class="box">
            <h2 class="subtitle">Hotels</h2>
            <a href="https://www.hotels.com/"><p>Hotels.com</p></a>
            <a href="https://www.tripadvisor.com/"><p>TripAdvisor</p></a>
            <a href="https://www.trivago.com/"><p>Trivago</p></a>
            <a href="https://www.expedia.com/"><p>Expedia</p></a>
           
            
        </div>
    
        <div class="box">
            <h2 class="subtitle">Car Rentals</h2>
            <a href=" https://www.autorentals.com/"><p>AutoRentals.com</p></a>
            <a href="https://www.hotwire.com/car-rentals/"><p>Hotwire</p></a>
            <a href="https://www.alamo.com/en/home.html"><p>Alamo </p></a>
            <a href="https://www.sixt.com/#/"><p>Sixt</p></a>
            <a href="https://www.avis.com/en/home"><p>Avis</p></a>
            
        </div>
    
        <div class="box">
            <h2 class="subtitle">Packing Advice</h2>
            <a href=" https://www.autorentals.com/"><p> Smarter Travel </p></a>
            <a href="https://www.hotwire.com/car-rentals/"><p> Travel and Leisure</p></a>
            <a href="https://www.alamo.com/en/home.html"><p> Good Housekeeping </p></a>
            <a href="https://www.sixt.com/#/"><p>Travel Fashion Girl</p></a>
           
          
        </div>
        <div></div>
    </div>
</section>
