[[extend 'layout.html']]

<div class="loading" style="background: rgb(70, 202, 235) no-repeat center center/cover; height: 100vh; position: relative;">

</div>

<section style="background: url('https://source.unsplash.com/1600x900/?[[=country_name]]') no-repeat center center/cover; height: 100%; position: relative;">
   <div class="container">
      <div class="columns">
         <div class="column has-text-centered">
            <div class="card notification is-primary">
               <h1 class="title is-1">[[=country_name]]</h1>
            </div>
         </div>
      </div>
   </div>
</section>

[[block page_scripts]]
<script src="js/profile.js"></script>
<script>
   document.querySelector('section').style.display = 'none';
   document.querySelector('.loading').classList.add('spinner-1');

   // Mimic server req
   setTimeout(() => {
      document.querySelector('.loading').classList.remove('spinner-1');
      document.querySelector('section').style.display = 'block';
      document.querySelector('.loading').style.display = "none";
   }, 2800);
</script>
[[end]]
