[[extend 'layout.html']]

<div class="loading" style="background: rgb(70, 202, 235) no-repeat center center/cover; height: 100vh; position: relative; z-index: 10;">

</div>


<section style="background: url('https://source.unsplash.com/1600x900/?[[=country_name]]') no-repeat center center/cover; height: 80vh; position: relative;">
</section>

<section>
   <div class="notification is-large centered has-text-centered is-circular">
      <p class="title is-1">
         <span>[[=country_name]]</span>
         <img class="cropped-1" src="[[=country_flag]]" alt="">
      </p>
      
      <p class="subtitle">[[=country_bio]]</p>
   </div>
</section>

<section class="section bottom">
   <div class="container">

      <div class="title">What [[=country_name]] is known for</div>
      <div class="columns">
         <div class="column">
            <span class="icon-text">
               <span class="icon">
                  <i class="fa fa-anchor fa-lg" aria-hidden="true"></i>
               </span>
               <span>Beaches</span>
            </span>
            <progress id="beaches" class="progress is-info is-medium" value="[[=country_rating.beaches]]" max="100">45%</progress>

         </div>
         <div class="column">
            <span class="icon-text">
               <span class="icon">
                  <i class="fa fa-bicycle fa-lg" aria-hidden="true"></i>
               </span>
               <span>Sight Seeing</span>
            </span>
            <progress id="sights" class="progress is-info is-medium" value="[[=country_rating.sights]]" max="100">45%</progress>
         </div>
         <div class="column">
            <span class="icon-text">
               <span class="icon">
                  <i class="fa fa-cutlery fa-lg" aria-hidden="true"></i>
               </span>
               <span>Restaurants</span>
            </span>
            <progress id="food" class="progress is-info is-medium" value="[[=country_rating.food]]" max="100">45%</progress>
         </div>
         <div class="column">
            <span class="icon-text">
               <span class="icon">
                  <i class="fa fa-moon-o fa-lg" aria-hidden="true"></i>
               </span>
               <span>Nightlife</span>
            </span>
            <progress id="nightlife" class="progress is-info is-medium" value="[[=country_rating.nightlife]]" max="100">45%</progress>
         </div>
         <div class="column">
            <span class="icon-text">
               <span class="icon">
                  <i class="fa fa-shopping-bag fa-lg" aria-hidden="true"></i>
               </span>
               <span>Shopping</span>
            </span>
            <progress id="shopping" class="progress is-info is-medium" value="[[=country_rating.shopping]]" max="100">45%</progress>
         </div>
      </div>
   </div>
</section>

[[block page_scripts]]
<script>
   document.querySelector('section').style.display = 'none';
   document.querySelector('.bottom').style.display = 'none';
   document.querySelector('.loading').classList.add('spinner-1');

   // Mimic server req
   setTimeout(() => {
      document.querySelector('.loading').classList.remove('spinner-1');
      document.querySelector('section').style.display = 'block';
      document.querySelector('.bottom').style.display = 'block';
      document.querySelector('.loading').style.display = "none";
   }, 3000);
</script>

[[end]]