[[extend 'layout.html']]

<div class="loading" style="background: rgb(70, 202, 235) no-repeat center center/cover; height: 100vh; position: relative; z-index: 10;">

</div>


<section style="background: url('https://source.unsplash.com/1600x900/?[[=country_name]]') no-repeat center center/cover; height: 80vh; position: relative;">
</section>

<section>
   <div class="notification is-large centered has-text-centered is-circular">
      <p class="title is-1">
         <span>[[=country_name]]</span>
         <img class="cropped-1" src="[[=country_flag]]" alt="">
      </p>
      
      <p class="subtitle">[[=country_bio]]</p>
   </div>
</section>

<section class="section bottom">
   <div class="container">
      <div class="title">What [[=country_name]] is known for</div>
      <div class="columns">
         <div class="column">
            <span class="icon-text">
               <span class="icon">
                  <i class="fa fa-anchor fa-lg" aria-hidden="true"></i>
               </span>
               <span>Beaches</span>
            </span>
            <progress id="beaches" class="progress is-info is-medium" value="[[=country_rating.beaches]]" max="100">45%</progress>

         </div>
         <div class="column">
            <span class="icon-text">
               <span class="icon">
                  <i class="fa fa-bicycle fa-lg" aria-hidden="true"></i>
               </span>
               <span>Sight Seeing</span>
            </span>
            <progress id="sights" class="progress is-info is-medium" value="[[=country_rating.sights]]" max="100">45%</progress>
         </div>
         <div class="column">
            <span class="icon-text">
               <span class="icon">
                  <i class="fa fa-cutlery fa-lg" aria-hidden="true"></i>
               </span>
               <span>Restaurants</span>
            </span>
            <progress id="food" class="progress is-info is-medium" value="[[=country_rating.food]]" max="100">45%</progress>
         </div>
         <div class="column">
            <span class="icon-text">
               <span class="icon">
                  <i class="fa fa-moon-o fa-lg" aria-hidden="true"></i>
               </span>
               <span>Nightlife</span>
            </span>
            <progress id="nightlife" class="progress is-info is-medium" value="[[=country_rating.nightlife]]" max="100">45%</progress>
         </div>
         <div class="column">
            <span class="icon-text">
               <span class="icon">
                  <i class="fa fa-shopping-bag fa-lg" aria-hidden="true"></i>
               </span>
               <span>Shopping</span>
            </span>
            <progress id="shopping" class="progress is-info is-medium" value="[[=country_rating.shopping]]" max="100">45%</progress>
         </div>
      </div>
   </div>
   <div class="container mt-6" id="vue-target-country-profile">
      <div id="posts">
         <div v-for="p in post_list.slice().reverse()" class="block">
            <div class="box">
              <div class="columns">
                <div class="column is-narrow">
    
                  <!-- delete post -->
                  <div v-if="'[[=curr_email]]'==p.email" class="field is-grouped is-grouped-right">
                    <button @click="delete_post(p.id)" class="button is-danger is-normal stacked-icon">
                    <span class="icon is-small">
                    <i class="fa fa-trash fa-lg"></i>
                    </span>
                    </button>
                  </div>
                </div>
                <div class="column">
                  <div class="block">
                    <div>
                      <h2 class="title is-3"> {{p.title}} </h2>
                    </div>
                    <div>
                    </div>
                    <div>
                      <p class="subtitle is-6 has-text-grey"> Posted by {{p.username}} </p>
                    </div>
                  </div>
    
                  <span v-for="type in p.place_kind.split(', ')" class="block">
                    <span class="tag is-warning is-medium mr-3 mb-3">{{type}}</span>
                  </span>
    
                  <div class="block">
                    <div v-if="p.image">
                      <img class="is-little-circular" width="400" :src="p.image" />
                    </div>
                    <p class="has-text-grey">
                      <a v-bind:href="'https://www.google.com/search?q='+p.place_name+' '+p.place_address">
                        <span class="mr-1"><i class="fa fa-location-arrow"></i></span>
                        {{p.place_name}}
                      </a>
                    </p>
                    <p class="has-text-grey">
                      {{p.place_address}} {{p.place_city}} {{p.place_state}} {{p.place_country}}
                    </p>
                  </div>
                  <div class="block">
                    <p> {{p.post_text}} </p>
                  </div>
                  <!-- Display ratings -->
                  <div class="block">
    
                    <p>Overall</p>
                        <div v-if="p.overall==5">
    
                          <span class="icon has-text-info">
                            <i class="fa fa-coffee fa-lg"></i>
                          </span>
                          <span class="icon has-text-info">
                            <i class="fa fa-coffee fa-lg"></i>
                          </span>
                          <span class="icon has-text-info">
                            <i class="fa fa-coffee fa-lg"></i>
                          </span>
                          <span class="icon has-text-info">
                            <i class="fa fa-coffee fa-lg"></i>
                          </span>
                          <span class="icon has-text-info">
                            <i class="fa fa-coffee fa-lg"></i>
                          </span>
                        </div>
                        <div v-if="p.overall==4">
                          <span class="icon has-text-info">
                          <i class="fa fa-coffee fa-lg"></i>
                          </span>
                          <span class="icon has-text-info">
                          <i class="fa fa-coffee fa-lg"></i>
                          </span>
                          <span class="icon has-text-info">
                          <i class="fa fa-coffee fa-lg"></i>
                          </span>
                          <span class="icon has-text-info">
                          <i class="fa fa-coffee fa-lg"></i>
                          </span>
                          <span class="icon">
                            <i class="fa fa-coffee fa-lg"></i>
                          </span>
                        </div>
                        <div v-if="p.overall==3">
                          <span class="icon has-text-info">
                          <i class="fa fa-coffee fa-lg"></i>
                          </span>
                          <span class="icon has-text-info">
                          <i class="fa fa-coffee fa-lg"></i>
                          </span>
                          <span class="icon has-text-info">
                          <i class="fa fa-coffee fa-lg"></i>
                          </span>
                          <span class="icon">
                            <i class="fa fa-coffee fa-lg"></i>
                          </span>
                          <span class="icon">
                            <i class="fa fa-coffee fa-lg"></i>
                          </span>
                        </div>
                        <div v-if="p.overall==2">
                          <span class="icon has-text-info">
                          <i class="fa fa-coffee fa-lg"></i>
                          </span>
                          <span class="icon has-text-info">
                          <i class="fa fa-coffee fa-lg"></i>
                          </span>
                          <span class="icon">
                          <i class="fa fa-coffee fa-lg"></i>
                          </span>
                          <span class="icon">
                          <i class="fa fa-coffee fa-lg"></i>
                          </span>
                          <span class="icon">
                          <i class="fa fa-coffee fa-lg"></i>
                          </span>
                        </div>
                        <div v-if="p.overall==1">
                          <span class="icon has-text-info">
                          <i class="fa fa-coffee fa-lg"></i>
                          </span>
                          <span class="icon">
                          <i class="fa fa-coffee fa-lg"></i>
                          </span>
                          <span class="icon">
                          <i class="fa fa-coffee fa-lg"></i>
                          </span>
                          <span class="icon">
                          <i class="fa fa-coffee fa-lg"></i>
                          </span>
                          <span class="icon">
                          <i class="fa fa-coffee fa-lg"></i>
                          </span>
                        </div>
                        <div v-if="p.overall==0">
                          0/5
                        </div>
    
                    <div class="columns">
                      <div class="column">
                        <span class="icon-text">
                          <span class="icon">
                             <i class="fa fa-anchor fa-lg" aria-hidden="true"></i>
                          </span>
                        </span>
                        <progress id="beach" class="progress is-info" :value="p.beach*10" max="100"></progress>
                      </div>
                      <div class="column">
                        <span class="icon-text">
                          <span class="icon">
                             <i class="fa fa-bicycle fa-lg" aria-hidden="true"></i>
                          </span>
                        </span>
                        <progress id="sights" class="progress is-info" :value="p.sights*10" max="100"></progress>
                      </div>
                      <div class="column">
                        <span class="icon-text">
                          <span class="icon">
                             <i class="fa fa-cutlery fa-lg" aria-hidden="true"></i>
                          </span>
                        </span>
                        <progress id="food" class="progress is-info" :value="p.food*10" max="100"></progress>
                      </div>
                      <div class="column">
                        <span class="icon-text">
                          <span class="icon">
                             <i class="fa fa-moon-o fa-lg" aria-hidden="true"></i>
                          </span>
                        </span>
                        <progress id="nightlife" class="progress is-info" :value="p.night*10" max="100">45%</progress>
                      </div>
                      <div class="column">
                        <span class="icon-text">
                          <span class="icon">
                             <i class="fa fa-shopping-bag fa-lg" aria-hidden="true"></i>
                          </span>
                        </span>
                        <progress id="shopping" class="progress is-info" :value="p.shop*10" max="100"></progress>
                      </div>
                    </div>
    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>
</section>

[[block page_scripts]]
<script>
   let get_country_rating_url = "[[=XML(get_country_rating_url)]]";
   let get_posts_url = "[[=XML(get_posts_url)]]";
   let delete_post_url = "[[=XML(delete_post_url)]]";
   let get_country_url = "[[=XML(get_country_url)]]"
</script>
<!--<script src="js/country_profile.js"></script>-->
<script>
   document.querySelector('section').style.display = 'none';
   document.querySelector('.bottom').style.display = 'none';
   document.querySelector('.loading').classList.add('spinner-1');

   // Mimic server req
   setTimeout(() => {
      document.querySelector('.loading').classList.remove('spinner-1');
      document.querySelector('section').style.display = 'block';
      document.querySelector('.bottom').style.display = 'block';
      document.querySelector('.loading').style.display = "none";
   }, 3000);
</script>
<script src="js/country_profile.js"></script>

[[end]]
