[[extend 'layout.html']]

<div class="section" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
     xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <h1 class="title">Discover</h1>
    <h2 class="subtitle">Where would you like to go?</h2>
</div>

<style>
[v-cloak] {
     display: none;
}
</style>

<section style="background: url('https://source.unsplash.com/1600x900/?travel') no-repeat center center/cover; height: 60vh; position: relative;">

  <div class="section" id="vue-target" v-cloak>
      <div class="control block has-icons-left">
        <input class="input" type="text" placeholder="Search" v-model="query" @keyup="search" />
          <span class="icon is-left">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </div>

      <div v-for="r in results">
          <a class="notification button is-fullwidth is-link" v-if="r.type == 'country'" v-bind:href="'[[=URL()]]country_profile/' + r.id">
            <span class="icon-text">
               <span class="icon"><i class="fa fa-plane"></i></i></span>
               <span>{{r.name}}</span>
            </span>
          </a>
          <a class="notification button is-fullwidth is-success" v-if="r.type == 'post'">
            <span class="icon-text">
               <span class="icon"><i class="fa fa-pencil"></i></i></span>
               <span>{{r.title}}  ({{r.time}})</span>
            </span>
          </a>
      </div>

  </div>
</section>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let search_url = "[[=XML(search_url)]]";
</script>
<script src="js/discover.js"></script>
[[end]]
