[[extend 'layout.html']]


<div class="container">
    <h1 class="title">FAQ's</h1>
    <h2 class="subtitle">Answers to common questions</h2>

    <div class="box">
        <h2 class="subtitle">How do I sign up for an account?</h2>
        Click the sign up button at the top right corner of this page and fill out your information.
    </div>

    <div class="box">
        <h2 class="subtitle">Do I need an account to use TravelTea?</h2>
        Yes, you must have an account to see and search for reviews on TravelTea.
    </div>

    <div></div>
</div>
