[[extend 'layout.html']]
<style>
  #geocoder {
    z-index: 1;
    margin: 20px;
    
  }
  .mapboxgl-ctrl-geocoder {
    min-width: 100%;
  }
</style>

<div class="loading" style="background: rgb(70, 202, 235) no-repeat center center/cover; height: 100vh; position: relative;"></div>

<section class="section">
  <div class="container is-success block">
    <div class="notification is-circular">
      <div class="columns has-text-centered">
        <div class="column">
          <p class="heading has-text-success">Page</p>
          <h1 class="title has-text-success"> [[=curr_name]][[=apostrophe]] Feed</h1>
        </div>
        <div class="column">
          <p class="heading has-text-success">Posts</p>
          <h1 class="title is-success has-text-success">[[=num_posts]]</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="location-search">
        <label class="label">Location</label>
        <div id="geocoder-container"></div>
  </div>
  

  
  <!-- click button to add new comment -->
  <div class="block" id="vue-target">
    <div class="container block">
      <button @click="add_mode = true" id="btn-mode" class="button is-primary is-light">
        <i class="fa fa-plus fa-fw"></i>
      </button>
    </div>
    <!-- if button was clicked, display area to enter post -->
    <div v-if="add_mode" class="container block">
      <div class="field">
        <label class="label">Title</label>
        <p class="control">
          <input class="input" type="text" placeholder="Enter title" v-model="new_title">
        </p>
      </div>

      <div class="field">
        <label class="label">Description</label>
        <p class="control">
          <textarea class="textarea" placeholder="Enter description of your travel experience" v-model="new_post_text"></textarea>
        </p>
      </div>
      <div class="field">
        <label class="label">Overall Rating</label>
        <p class="help">Overall rating is out of 5</p>
        <div class="control has-icons-left">
            <div class="select is-fullwidth">
              <select v-model="overall_rating">
                <option disabled value="0">Give us the Tea!</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <span class="icon is-small is-left">
              <i class="fa fa-coffee"></i>
            </span>
          </div>
      </div>

      <label class="label">Category Ratings</label>
      <p class="help">All category ratings are out of 10</p>

      <div class="columns">
        <div class="column">
          <div class="control has-icons-left">
            <div class="select is-fullwidth">
              <select v-model="beach_rating">
                <option disabled value="0">Beaches</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
            <span class="icon is-small is-left">
              <i class="fa fa-anchor"></i>
            </span>
          </div>
        </div>

        <div class="column">
          <div class="control has-icons-left">
            <div class="select is-fullwidth">
              <select v-model="sights_rating">
                <option disabled value="0">Sight Seeing</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
            <span class="icon is-small is-left">
              <i class="fa fa-bicycle fa-lg"></i>
            </span>
          </div>
        </div>

        <div class="column">
          <div class="control has-icons-left">
            <div class="select is-fullwidth">
              <select v-model="food_rating">
                <option disabled value="0">Restaurants</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
            <span class="icon is-small is-left">
              <i class="fa fa-cutlery fa-lg"></i>
            </span>
          </div>
        </div>

        <div class="column">
          <div class="control has-icons-left">
            <div class="select is-fullwidth">
              <select v-model="night_rating">
                <option disabled value="0">Nightlife</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
            <span class="icon is-small is-left">
              <i class="fa fa-moon-o fa-lg"></i>
            </span>
          </div>
        </div>

        <div class="column">
          <div class="control has-icons-left">
            <div class="select is-fullwidth">
              <select v-model="shop_rating">
                <option disabled value="0">Shopping</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
            <span class="icon is-small is-left">
              <i class="fa fa-shopping-bag"></i>
            </span>
          </div>

        </div>

      </div>
      <div class="field">
        <label class="label">Image</label>
        <div v-if="!selection_done" class="field has-addons block">
          <p class="control">
          <div class="file is-info">
            <label class="file-label">
            <input class="file-input" type="file"
              accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
              @change="select_file($event)">
            <span class="file-cta">
            <span class="file-label">
            <span>Choose file</span>
            </span>
            </span>
            </label>
          </div>
          </p>
        </div>
        <div class="block" v-if="selection_done">
          <img width="200" :src="image"/>
        </div>
      </div>

        <button class="button is-primary is-light" type="submit" @click="add_post" >Post</button>
        <button id="btn-cancel" class="button is-warning" @click="cancel_post" >Cancel</button>
    </div>
    <!-- display posts here -->
    <div id="posts" class="container">
      <div v-for="p in post_list.slice().reverse()" class="block">
        <div class="box">
          <div class="columns">
            <div class="column is-narrow">
              <!-- thumbs -->
              <div class="stacked-icon mt-4" @mouseover="set_hover(p._idx, true)" @mouseout="set_hover(p._idx, false)">
                <div class="icon has-text-link" @click="like_post(p._idx, '[[=curr_name]]')">
                  <i class="fa fa-thumbs-up fa-2x" v-if="p.liked == 1">{{p.num_like}}</i>
                  <i class="fa fa-thumbs-o-up fa-2x" v-else>{{p.num_like}}</i>
                </div>
              </div>
              <div class="stacked-icon" @mouseover="set_hover(p._idx, true)" @mouseout="set_hover(p._idx, false)">
                <div class="icon has-text-link" @click="dislike_post(p._idx, '[[=curr_name]]')">
                  <i class="fa fa-thumbs-down fa-2x" v-if="p.liked == -1">{{p.num_dislike}}</i>
                  <i class="fa fa-thumbs-o-down fa-2x" v-else>{{p.num_dislike}}</i>
                </div>
              </div>
              <!-- plane -->
              <div class="stacked-icon" @mouseover="travel_hover(p._idx, true)" @mouseout="travel_hover(p._idx, false)">
                <div class="icon has-text-link" @click="travel_post(p._idx, '[[=curr_name]]')">
                  <i class="fa fa-plane fa-2x" >{{p.num_travel}}</i>
                  <!--<i class="fa fa-plane fa-flip-horizontal fa-2x" v-else>{{p.num_travel}}</i>-->
                </div>
              </div>
              <!-- liker/disliker list -->
              <span class="has-text-link" v-if="p.hover">{{ get_liker_string(p._idx) }}</span>
              <!-- traveler list -->
              <span class="has-text-link" v-if="p.travel_hover">{{ get_traveler_string(p._idx) }}</span>
              <!-- delete post -->
              <div v-if="'[[=curr_email]]'==p.email" class="field is-grouped is-grouped-right">
                <button @click="delete_post(p.id)" class="button is-danger is-normal stacked-icon">
                <span class="icon is-small">
                <i class="fa fa-trash fa-lg"></i>
                </span>
                </button>
              </div>
            </div>
            <div class="column">
              <div class="block">
                <div>
                  <h2 class="title is-3"> {{p.title}} </h2>
                </div>
                <div>
                </div>
                <div>
                  <p class="subtitle is-6 has-text-grey"> Posted by {{p.username}} </p>
                </div>
              </div>
  
              <span v-for="type in p.place_kind.split(', ')" class="block">
                <span class="tag is-warning is-medium mr-3 mb-3">{{type}}</span>
              </span>
              
              <div class="block">
                <div v-if="p.image">
                  <img class="is-little-circular" width="400" :src="p.image" />
                </div>
                <p class="has-text-grey">
                  <a v-bind:href="'https://www.google.com/search?q='+p.place_name+' '+p.place_address" target="_blank">
                    <span class="mr-1"><i class="fa fa-location-arrow"></i></span>
                    {{p.place_name}}
                  </a>
                </p>
                <p class="has-text-grey">
                  {{p.place_address}} {{p.place_city}}, {{p.place_state}}, {{p.place_country}}
                  <a v-bind:href="'[[=URL()]]country_profile/' + p.country_id">
                    <span class="icon"><i class="fa fa-plane"></i></i></span>
                  </a>
                </p>
              </div>
              <div class="block">
                <p> {{p.post_text}} </p>
              </div>
              <!-- Display ratings -->
              <div class="block">
                <div class="columns">
                  <div class="column">
                    <span class="icon-text">
                      <span class="icon">
                         <i class="fa fa-anchor fa-lg" aria-hidden="true"></i>
                      </span>
                      <span>Beaches</span>
                    </span>
                    <progress id="beach" class="progress is-info" :value="p.beach*10" max="100"></progress>
                  </div>
                  <div class="column">
                    <span class="icon-text">
                      <span class="icon">
                         <i class="fa fa-bicycle fa-lg" aria-hidden="true"></i>
                      </span>
                      <span>Sight Seeing</span>
                    </span>
                    <progress id="sights" class="progress is-info" :value="p.sights*10" max="100"></progress>
                  </div>
                  <div class="column">
                    <span class="icon-text">
                      <span class="icon">
                         <i class="fa fa-cutlery fa-lg" aria-hidden="true"></i>
                      </span>
                      <span>Food</span>
                    </span>
                    <progress id="food" class="progress is-info" :value="p.food*10" max="100"></progress>
                  </div>
                  <div class="column">
                    <span class="icon-text">
                      <span class="icon">
                         <i class="fa fa-moon-o fa-lg" aria-hidden="true"></i>
                      </span>
                      <span>Nightlife</span>
                    </span>
                    <progress id="nightlife" class="progress is-info" :value="p.night*10" max="100">45%</progress>
                  </div>
                  <div class="column">
                    <span class="icon-text">
                      <span class="icon">
                         <i class="fa fa-shopping-bag fa-lg" aria-hidden="true"></i>
                      </span>
                      <span>Shopping</span>
                    </span>
                    <progress id="shopping" class="progress is-info" :value="p.shop*10" max="100"></progress>
                  </div>
                  <div class="column">

                    <p>Overall Rating</p>
                    <div v-if="p.overall==5">

                      <span class="icon has-text-info">
                        <i class="fa fa-coffee fa-lg"></i>
                      </span>
                      <span class="icon has-text-info">
                        <i class="fa fa-coffee fa-lg"></i>
                      </span>
                      <span class="icon has-text-info">
                        <i class="fa fa-coffee fa-lg"></i>
                      </span>
                      <span class="icon has-text-info">
                        <i class="fa fa-coffee fa-lg"></i>
                      </span>
                      <span class="icon has-text-info">
                        <i class="fa fa-coffee fa-lg"></i>
                      </span>
                    </div>
                    <div v-if="p.overall==4">
                      <span class="icon has-text-info">
                      <i class="fa fa-coffee fa-lg"></i>
                      </span>
                      <span class="icon has-text-info">
                      <i class="fa fa-coffee fa-lg"></i>
                      </span>
                      <span class="icon has-text-info">
                      <i class="fa fa-coffee fa-lg"></i>
                      </span>
                      <span class="icon has-text-info">
                      <i class="fa fa-coffee fa-lg"></i>
                      </span>
                      <span class="icon">
                        <i class="fa fa-coffee fa-lg"></i>
                      </span>
                    </div>
                    <div v-if="p.overall==3">
                      <span class="icon has-text-info">
                      <i class="fa fa-coffee fa-lg"></i>
                      </span>
                      <span class="icon has-text-info">
                      <i class="fa fa-coffee fa-lg"></i>
                      </span>
                      <span class="icon has-text-info">
                      <i class="fa fa-coffee fa-lg"></i>
                      </span>
                      <span class="icon">
                        <i class="fa fa-coffee fa-lg"></i>
                      </span>
                      <span class="icon">
                        <i class="fa fa-coffee fa-lg"></i>
                      </span>
                    </div>
                    <div v-if="p.overall==2">
                      <span class="icon has-text-info">
                      <i class="fa fa-coffee fa-lg"></i>
                      </span>
                      <span class="icon has-text-info">
                      <i class="fa fa-coffee fa-lg"></i>
                      </span>
                      <span class="icon">
                      <i class="fa fa-coffee fa-lg"></i>
                      </span>
                      <span class="icon">
                      <i class="fa fa-coffee fa-lg"></i>
                      </span>
                      <span class="icon">
                      <i class="fa fa-coffee fa-lg"></i>
                      </span>
                    </div>
                    <div v-if="p.overall==1">
                      <span class="icon has-text-info">
                      <i class="fa fa-coffee fa-lg"></i>
                      </span>
                      <span class="icon">
                      <i class="fa fa-coffee fa-lg"></i>
                      </span>
                      <span class="icon">
                      <i class="fa fa-coffee fa-lg"></i>
                      </span>
                      <span class="icon">
                      <i class="fa fa-coffee fa-lg"></i>
                      </span>
                      <span class="icon">
                      <i class="fa fa-coffee fa-lg"></i>
                      </span>
                    </div>
                    <div v-if="p.overall==0">
                      0/5
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <p class=" is-size-7 has-text-grey">{{p.time}} UTC</p>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibXJleWVzemF6IiwiYSI6ImNrcGF6bmFweDB0dmgydXBlbzNncng5bXMifQ.ef7orEUXv4WW5eQKcPqVWg';
  var geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    placeholder: "Where did this happen?",
    types: "poi, address, neighborhood"
  });
  geocoder.addTo('#geocoder-container');
</script>

[[block page_scripts]]
<script>
  document.querySelector('section').style.display = 'none';
  document.querySelector('.loading').classList.add('spinner-1');

  // Mimic server req
  setTimeout(() => {
     document.querySelector('.loading').classList.remove('spinner-1');
     document.querySelector('section').style.display = 'block';
     document.querySelector('.loading').style.display = "none";
  }, 90);
</script>
<script>
  let get_posts_url = "[[=XML(get_posts_url)]]";
  let add_post_url = "[[=XML(add_post_url)]]";
  let delete_post_url = "[[=XML(delete_post_url)]]";
  let get_likes_url = "[[=XML(get_likes_url)]]";
  let add_like_url = "[[=XML(add_like_url)]]";
  let flip_like_url = "[[=XML(flip_like_url)]]";
  let delete_like_url = "[[=XML(delete_like_url)]]";
  let get_travels_url = "[[=XML(get_travels_url)]]";
  let add_travel_url = "[[=XML(add_travel_url)]]";
  let delete_travel_url = "[[=XML(delete_travel_url)]]";
</script>
<script src="js/feed.js"></script>
<script>
  geocoder.on('result', function(result) {
    app.vue.place = result.result["place_name"];
    app.vue.place_properties = result.result["properties"];
    app.vue.place_type = result.result["place_type"][0];
  });

  document.querySelector('#geocoder-container').style.display = 'none';
  document.querySelector('#location-search').style.display = 'none';
  document.getElementById("btn-mode").addEventListener("click", show_bar);

  function show_bar() {
    document.querySelector('#geocoder-container').style.display = 'block';
    document.querySelector('#location-search').style.display = 'block';
    document.querySelector('#btn-mode').style.display = 'none';
  }
</script>
[[end]]
