[[extend 'layout.html']]

<!--<section class="hero is-fullheight">-->
<section class="" style="background: url('https://source.unsplash.com/1600x900/?travel') no-repeat center center/cover; height: 100%; position: relative;">
   <div class="container column is-one-third has-text-centered mb-5">
      <div class="image">
         <img src="../static/imgs/travel-tea-logo-transparent-tight.png" alt="">
      </div>
      <p class="subtitle is-4 has-text-light pt-1">One-stop for travel advice and more.</p>
   </div>

   [[if name:]]
   <div class="columns">
      <div class="column is-6 container">
         <div class="box is-success has-text-centered is-half is-circular">
            <h2 class="title is-3">Welcome aboard [[=name]]!</h2>
         </div>
      </div>
   </div>
   [[pass]]

   <div class="container pt-5">
      <div class="tile is-ancestor mt-10">
         <div class="tile is-parent">
            <div class="tile is-child notification has-text-white-bis has-background-grey-dark is-extra-circular">
               <p class="title is-1">Travel & Explore</p>
               <div class="container">
                  <div class="image is-64x64 block">
                     <img src="https://pngimg.com/uploads/earth/earth_PNG17.png" alt="">
                  </div>
                  <h3 class="subtitle has-text-primary mb-0">Locations Explored:</h3>
                  <p class="subtitle">123</p>
                  <h3 class="subtitle has-text-primary mb-0">Total Users:</h3>
                  <p class="subtitle">999</p>
                  <div class="columns">
                     <div class="column is-full">
                        <a class="button is-primary is-rounded is-fullwidth" href="[[=URL('discover')]]">
                           <div class="container has-text-centered">
                              <h2 class="subtitle is-4">Discover</h2>
                           </div>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         [[if name == None:]]
         <div class="tile is-parent">
            <div class="tile is-child notification has-text-white-bis has-background-grey-dark is-extra-circular">
               <p class="title is-1">Sign Up Now</p>
               <p class="subtitle is-5 pt-5 has-text-primary mb-0">Why sign up?</p>
               <p class="subtitle is-5 mt-0 pt-0">Join in the fun and learn fascinating facts about all of your favorite or soon-to-be favorite locations!</p>
               <p class="subtitle is-5 has-text-primary mb-0">What to expect?</p>
               <p class="subtitle is-5 mt-0 pt-0">
                  TravelTea is an interactive website between users. Users can post reviews about the places
                  they have traveled to as well as like and comment on other users' reviews.
               </p>

               <div class="columns">
                  <div class="column">
                     <a class="button is-primary is-rounded is-fullwidth" href="[[=URL('auth/register')]]">
                        <div class="container has-text-centered">
                           <h2 class="subtitle is-4">Sign Up</h2>
                        </div>
                     </a>
                  </div>
                  <div class="column">
                     <a class="button is-primary is-rounded is-fullwidth" href="[[=URL('auth/login')]]">
                        <div class="container has-text-centered">
                           <h2 class="subtitle is-4">Log In</h2>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         [[else: ]]
         <div class="tile is-parent">
            <div class="tile is-child notification has-text-white-bis has-background-grey-dark is-extra-circular">
               <p class="title is-1">Visit Random Location</p>
               <p class="subtitle is-5 pt-5 has-text-primary mb-0">Feeling Lucky?</p>
               <p class="subtitle is-5 mt-0 pt-0 pb-6">Click the plane below to visit a random location.</p>
               <div class="container has-text-centered block pt-5">
                  <a href="[[=URL('random_location')]]" style="text-decoration: none;">
                     <span class="icon"><i class="fa fa-plane fa-5x"></i></i></span>
                  </a>  
               </div>
            </div>
         </div>
         [[pass]]
      </div>

      <div class="tile is-ancestor">
         <div class="tile is-parent">
            <div class="tile is-child notification has-text-white-bis has-background-grey-dark is-extra-circular">
               <p class="title is-3">General Information</p>
               <p class="subtitle is-5 has-text-primary">
                  TravelTea's mission is to provide users with a common resource to find the best places
                  to travel. Users can read other users first hand experience that can help them decide if they would
                  like to travel there next.
               </p>
                  <!--<a href="" style="text-decoration: none;">
                  <span class="icon"><i class="fa fa-arrow-circle-right fa-2x" style="color: #fff;"></i></span>
               </a>-->
            </div>
         </div>
         <div class="tile is-parent">
            <div class="tile is-child notification has-text-white-bis has-background-grey-dark is-extra-circular">
               <p class="title is-3">Resources</p>
               <p class="subtitle is-5 has-text-primary mb-5">
                  See our common resources page for travel including flight, hotel, and rental car information.
               </p>
               <a href="[[=URL('resources')]]" style="text-decoration: none;">
                  <span class="icon"><i class="fa fa-arrow-circle-right fa-2x" style="color: #fff;"></i></span>
               </a>
            </div>
         </div>
         <div class="tile is-parent">
            <div class="tile is-child notification has-text-white-bis has-background-grey-dark is-extra-circular">
               <p class="title is-3">FAQ</p>
               <p class="subtitle is-5 has-text-primary mb-6">A place to get answers to common questions</p>
               <a href="[[=URL('faq')]]" style="text-decoration: none;">
                  <span class="icon mt-1"><i class="fa fa-arrow-circle-right fa-2x" style="color: #fff;"></i></span>
               </a>
            </div>
         </div>
      </div>
   </div>

   <div class="section">
      <div class="notification mt-2 is-circular is-primary">
         <div class="container has-text-centered">
            <h2 class="title is-4">How it Works:</h2>
         </div>
         <div class="content container pb-4">
            <ol class="subtitle">
               <li>Sign up and Log in to unlock the ability to create posts and share travel expertise</li>
               <li>Update your profile with a profile picture and start exploring</li>
               <li>Visit the Discover page to view new locations and get detailed feedback straight from another traveler </li>
               <li>Create a post of your own, and share your visits to provide valuable traveling insight to the TravelTea community</li>
            </ol>
         </div>
      </div>
   </div>
</section>
