[[extend 'layout.html']]

<section class="hero is-fullheight">

   <div class="container column is-one-third has-text-centered mb-5">
      <div class="image">
         <img src="../static/imgs/travel-tea-logo-transparent-tight.png" alt="">
      </div>
      <p class="subtitle is-4 has-text-light pt-1">One-stop for travel advice and more.</p>
   </div>

   <div class="container pt-6">
      <div class="tile is-ancestor mt-10">
         <div class="tile is-parent">
            <div class="tile is-child notification has-text-white-bis has-background-grey-dark" style="border-radius: 20px;">
               <p class="title is-1">Travel & Enjoy</p>
               <div class="container">
                  <div class="image is-64x64 block">
                     <img src="https://pngimg.com/uploads/earth/earth_PNG17.png" alt="">
                  </div>
                  <h3 class="subtitle has-text-primary mb-0">Locations Explored:</h3>
                  <p class="subtitle">123</p>
                  <h3 class="subtitle has-text-primary mb-0">Total Users:</h3>
                  <p class="subtitle">999</p>
                  <div class="columns">
                     <div class="column is-full">
                        <button class="button is-primary is-rounded is-fullwidth">
                           <div class="container has-text-centered">
                              <p class="subtitle is-4">Explore</p>
                           </div>
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="tile is-parent">
            <div class="tile is-child notification has-text-white-bis has-background-grey-dark" style="border-radius: 20px;">
               <p class="title is-1">Sign Up Now</p>
               <p class="subtitle is-5 pt-5 has-text-primary mb-0">Why sign up?</p>
               <p class="subtitle is-5 mt-0 pt-0">Join in the fun and learn fascinating facts about all of your favorite or soon-to-be favorite locations!</p>
               <p class="subtitle is-5 has-text-primary mb-0">What to expect?</p>
               <p class="subtitle is-5 mt-0 pt-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ab possimus harum quo ut maxime aspernatur, architecto officiis molestias iste?</p>

               <button class="button is-primary is-rounded is-fullwidth">
                  <div class="container has-text-centered">
                     <p class="subtitle is-4">Sign Up</p>
                  </div>
               </button>
            </div>
         </div>
      </div>

      <div class="tile is-ancestor">
         <div class="tile is-parent">
            <div class="tile is-child notification has-text-white-bis has-background-grey-dark" style="border-radius: 20px;">
               <p class="title is-3">General Information</p>
               <p class="subtitle is-5 has-text-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, voluptas.</p>
               <a href="" style="text-decoration: none;">
                  <span class="icon"><i class="fa fa-arrow-circle-right fa-2x" style="color: #fff;"></i></span>
               </a>
            </div>
         </div>
         <div class="tile is-parent">
            <div class="tile is-child notification has-text-white-bis has-background-grey-dark" style="border-radius: 20px;">
               <p class="title is-3">Visit Random Location</p>
               <p class="subtitle is-5 has-text-primary">
                  Feeling lucky?
               </p>
               <br>
               <a href="" style="text-decoration: none;">
                  <span class="icon"><i class="fa fa-arrow-circle-right fa-2x" style="color: #fff;"></i></span>
               </a>
            </div>
         </div>
         <div class="tile is-parent">
            <div class="tile is-child notification has-text-white-bis has-background-grey-dark" style="border-radius: 20px;">
               <p class="title is-3">FAQ</p>
               <p class="subtitle is-5 has-text-primary">A place to get answers to common questions</p>
               <a href="" style="text-decoration: none;">
                  <span class="icon"><i class="fa fa-arrow-circle-right fa-2x" style="color: #fff;"></i></span>
               </a>
            </div>
         </div>
      </div>
   </div>
</section>

<section>
   <div class="container">
      
   </div>
</section>

<section class="" style="background: url('https://source.unsplash.com/1600x900/?europe') no-repeat center center/cover; height: 100vh; position: relative;">

</section>

