[[extend 'layout.html']]

<div class="section">
   <div class="columns">
      <div class="column is-one-third">
         <h1 class="title"> Name </h1>

         <figure class="image is-128x128">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
         </figure>

         <table class="table">
            <thead>
               <th>Following</th>
               <th>Tea Spilt</th>
            </thead>
            <tbody>
               <td>#</td>
               <td>#</td>
            </tbody>
         </table>
      </div>
      <div class="column">
         <div class="box">
            <p>PlaceA Tea</p>
            <p>
               <span class="icon">
                  <i class="fa fa-coffee"></i>
               </span>
               <span class="icon">
                  <i class="fa fa-coffee"></i>
               </span>
               <span class="icon">
                  <i class="fa fa-coffee"></i>
               </span>
            </p>
            <p>
               <figure class="image is-64x64">
                 <img src="https://bulma.io/images/placeholders/128x128.png">
               </figure>
               blah blah blah blah
            </p>
         </div>
         <div class="box">
            <p>PlaceB Tea</p>
            <p>
               <span class="icon">
                  <i class="fa fa-coffee"></i>
               </span>
               <span class="icon">
                  <i class="fa fa-coffee"></i>
               </span>
               <span class="icon">
                  <i class="fa fa-coffee"></i>
               </span>
               <span class="icon">
                  <i class="fa fa-coffee"></i>
               </span>
               <span class="icon">
                  <i class="fa fa-coffee"></i>
               </span>
            </p>
            <p>
               <figure class="image is-64x64">
                 <img src="https://bulma.io/images/placeholders/128x128.png">
               </figure>
               blah blah blah blah
            </p>
         </div>
         <div class="box">Tea ...</div>
      </div>
   </div>
</div>

 <button class="button is-right">Settings</button>
