[[extend 'layout.html']]

<div class="section" id="vue-target-profile">
   <div class="container">
      <div class="columns">
         <div class="column is-one-third has-text-centered">

            <h1 class="title"> @ [[=username]] </h1>

            <!-- profile picture -->
            <div class="block" v-if="!thumbnail">
               <p class="control">
                  <div class="file is-info is-centered">
                        <label class="file-label">
                           <input class="file-input" type="file"
                                  accept=".jpg, .png. jpe, .gif, .bmp, .tif, .tiff|image/*"
                                  @change="upload_file($event)">
                           <span class="file-label">
                              <div class="container">
                                    <figure class="image is-128x128 container">
                                       <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                                    </figure>
                                 <p>
                                    <span><i class="fa fa-upload"></i>Upload a profile picture</span>
                                 </p>
                              </div>
                           </span>
                        </label>
                  </div>
               </p>
            </div>
            <div class="block" v-if="thumbnail" >
               <img width="200" :src="thumbnail" />
            </div>

            <!-- table -->
            <div class="block">
               <table class="table container">
                  <thead>
                     <th>Following</th>
                     <th>Tea Spilt</th>
                  </thead>
                  <tbody>
                     <td>#</td>
                     <td>#</td>
                  </tbody>
               </table>
            </div>

            <!-- settings -->
            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                  <span>Settings</span>
                  <span class="icon is-small">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                <div class="dropdown-content">
                  <div class="dropdown-item">
                    <a class="button is-white is-small"> <!-- href="[[=URL('discover')]]">-->
                        Edit username
                     </a>
                  </div>
                  <hr class="dropdown-divider">
                  <div class="dropdown-item">
                     <button class="button is-white is-small" @click="delete_profilepic">
                        Delete Profile Picture
                        <!--<span><i class="fa fa-trash"></i> Delete Profile Picture</span>-->
                     </button>
                  </div>
                </div>
              </div>
            </div>


            <!--<div class="block">
               <div class="tags has-addons">
                  <span class="tag is-medium">Username</span>
                  <span class="tag is-medium is-primary">Bulma</span>
               </div>
            </div>-->

         </div>
         <div class="column">
            <div class="box">
               <p>PlaceA Tea</p>
               <p>
                  <span class="icon">
                     <i class="fa fa-coffee"></i>
                  </span>
                  <span class="icon">
                     <i class="fa fa-coffee"></i>
                  </span>
                  <span class="icon">
                     <i class="fa fa-coffee"></i>
                  </span>
               </p>
               <p>
                  <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                  </figure>
                  blah blah blah blah
               </p>
            </div>
            <div class="box">
               <p>PlaceB Tea</p>
               <p>
                  <span class="icon">
                     <i class="fa fa-coffee"></i>
                  </span>
                  <span class="icon">
                     <i class="fa fa-coffee"></i>
                  </span>
                  <span class="icon">
                     <i class="fa fa-coffee"></i>
                  </span>
                  <span class="icon">
                     <i class="fa fa-coffee"></i>
                  </span>
                  <span class="icon">
                     <i class="fa fa-coffee"></i>
                  </span>
               </p>
               <p>
                  <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                  </figure>
                  blah blah blah blah
               </p>
            </div>
            <div class="box">Tea ...</div>
         </div>
      </div>
   </div>
</div>


[[block page_scripts]]
<script>
   let get_profile_url = "[[=XML(get_profile_url)]]";
   let upload_thumbnail_url = "[[=XML(upload_thumbnail_url)]]";
   let delete_profilepic_url = "[[=XML(delete_profilepic_url)]]";
</script>
<script src="js/profile.js"></script>
[[end]]
