[[extend 'layout.html']]

<div class="section" id="vue-target-profile">
   <div class="container">
      <div class="columns">
         <div class="column is-one-third has-text-centered">
            <h1 class="title"> [[=user_name]]'s Profile </h1>
   
            <!-- profile picture -->
            <div class="block" v-if="!thumbnail">
               <p class="control">
                  <div class="file is-info is-centered">
                        <label class="file-label">
                           <input class="file-input" type="file"
                                  accept=".jpg, .png. jpe, .gif, .bmp, .tif, .tiff|image/*"
                                  @change="upload_file($event)">
                           <span class="file-label">
                              <div class="container">
                                    <figure class="image is-128x128 container">
                                       <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                                    </figure>
                                 <p>
                                    <span><i class="fa fa-upload"></i>Upload a profile picture</span>
                                 </p>
                              </div>
                           </span>
                        </label>
                  </div>
               </p>
            </div>
            <div class="container" v-if="thumbnail" >
               <img width="200" :src="thumbnail" />
                  <button class="button" @click="delete_profilepic">
                    <span><i class="fa fa-trash"></i></span>
                  </button>
            </div>
   
            <!--<div>
               <div v-for="p in post_list" class="block">
                  <div class="box" v-if="p.email == '[[=curr_email]]'">
                      &lt;!&ndash; display number of posts that user has made &ndash;&gt;
                     <p> 1 </p>
                  </div>
               </div>
            </div>-->
            
            <div class="block">
               <table class="table container">
                  <thead>
                     <th>Following</th>
                     <th>Tea Spilt</th>
                  </thead>
                  <tbody>
                     <td>#</td>
                     <td>#</td>
                  </tbody>
               </table>
            </div>
         </div>
   
         <div class="column">
            <div class="box">
               <p>PlaceA Tea</p>
               <p>
                  <span class="icon">
                     <i class="fa fa-coffee"></i>
                  </span>
                  <span class="icon">
                     <i class="fa fa-coffee"></i>
                  </span>
                  <span class="icon">
                     <i class="fa fa-coffee"></i>
                  </span>
               </p>
               <p>
                  <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                  </figure>
                  blah blah blah blah
               </p>
            </div>
            <div class="box">
               <p>PlaceB Tea</p>
               <p>
                  <span class="icon">
                     <i class="fa fa-coffee"></i>
                  </span>
                  <span class="icon">
                     <i class="fa fa-coffee"></i>
                  </span>
                  <span class="icon">
                     <i class="fa fa-coffee"></i>
                  </span>
                  <span class="icon">
                     <i class="fa fa-coffee"></i>
                  </span>
                  <span class="icon">
                     <i class="fa fa-coffee"></i>
                  </span>
               </p>
               <p>
                  <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                  </figure>
                  blah blah blah blah
               </p>
            </div>
            <div class="box">Tea ...</div>
         </div>
      </div>
   </div>
</div>


[[block page_scripts]]
<script>
   let get_profile_url = "[[=XML(get_profile_url)]]";
   let upload_thumbnail_url = "[[=XML(upload_thumbnail_url)]]";
   let delete_profilepic_url = "[[=XML(delete_profilepic_url)]]";
</script>
<script src="js/profile.js"></script>
[[end]]
