[[extend 'layout.html']]

<section>
    <div class="section">
        <h1 class="title">TravelTea Reviews</h1>
        <h2 class="subtitle"> Tell us how you like our website</h2>
    </div>
    <div class="section">

    <div class="block">
        <a class="button is-success" href="[[=URL('reviewForm')]]">
            <span class="icon"><i class="fa fa-plus"></i></span>
            <span>Add</span>
        </a>
    </div>
    
        <div class="container">
            <table class="table is-fullwidth is-striped">
                <tr>
                    <th>Author</th>
                    <th>Rating</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                </tr>
    
                [[for row in rows:]]
                <tr>
                        <td>[[=row.author]]</td>
                        <td>[[=row.rating]]/10</td>
                        <td>[[=row.description]]</td>
                        <td></td>
                </tr>
                [[pass]]
            </table>
        </div>
    </div>
</section>

